.bg { 
        background: url("../img/background.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
.homeButton{
	width:60%;
}

.centerButtons{
	text-align: center;

}

.centerTop{
	margin-top:100px;
}

.homeB{
	background-color: #778899;
	color: white;
}

.small_button{
    line-height: 5px !important;
    min-height: 24px !important;
}

.left{
    
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}